{% macro success(message, title = "Yup") %}
	<div class="notification success">
		<button class="btn-close" onclick="this.parentElement.remove()"></button>
		<div style="float: left;">
			<div class="title">
				{{ title }}
			</div>
			<div class="message">{{ message }}</div>
		</div>
		<img class="notification-img" src="/img/success.png">
	</div>
{% endmacro %}

{% macro error(message, title = "Oops! Algo errado não está certo.") %}
	<div class="notification error">
		<button class="btn-close" onclick="this.parentElement.remove()"></button>
		<div style="float: left;">
			<div class="title">
				{{ title }}
			</div>
			<div class="message">{{ message }}</div>
		</div>
		<img class="notification-img" src="/img/error.png">
	</div>
{% endmacro %}

{% macro warning(message, title = "Oops! Algo errado não está certo.") %}
	<div class="notification warning">
		<button class="btn-close" onclick="this.parentElement.remove()"></button>
		<div style="float: left;">
			<div class="title">
				{{ title }}
			</div>
			<div class="message">{{ message }}</div>
		</div>
		<img class="notification-img" src="/img/warning.png">
	</div>
{% endmacro %}

{% macro info(message, title = "Oops! Algo errado não está certo.") %}
	<div class="notification info">
		<button class="btn-close" onclick="this.parentElement.remove()"></button>
		<div style="float: left;">
			<div class="title">
				{{ title }}
			</div>
			<div class="message">{{ message }}</div>
		</div>
		<img class="notification-img" src="/img/info.png">
	</div>
{% endmacro %}
