{% import "components/sidemenu/sidemenu.html.twig" as sidemenu %}
{% import "components/notifications.twig" as notification %}

<!DOCTYPE html>

<html>
	<head>
		{% block head %}
			<!-- HEAD -->
			<meta charset="UTF-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">

			<title>PetWeb
				{% block title %}{% endblock title %}
			</title>

			<style>
				{% block style %}
					/** Style */
					{% block global_css %}
						/** CSS Global */
						{{include('components/main/main.css')}}
					{% endblock global_css %}

					{% block page_css %}
						/** CSS Página */
					{% endblock page_css %}

					{% block override_css %}
						/** Sobrescrita de CSS */
						{{include('components/main/main-desktop.css')}}
						{{include('components/main/main-mobile.css')}}
						{{include('components/main/icons.css')}}
					{% endblock override_css %}
				{% endblock style %}
			</style>
		{% endblock head %}
	</head>

	<body class="container">
		{% block body %}
		<!-- BODY -->
		{% block sidemenu %}
			{{ sidemenu.sidemenu(user) }}
		{% endblock sidemenu %}

		{% block content %}<!-- CONTENT -->{% endblock content %}

		{% block notification %}
			{% if notifications %}
				{% for notify in notifications %}

					{% if notify.getType == 'Success' %}
						{{ notification.success(notify.getMessage(), notify.getTitle()) }}
					{% endif %}

					{% if notify.getType == 'Error' %}
						{{ notification.error(notify.getMessage(), notify.getTitle()) }}
					{% endif %}

					{% if notify.getType == 'Warning' %}
						{{ notification.warning(notify.getMessage(), notify.getTitle()) }}
					{% endif %}

					{% if notify.getType == 'Info' %}
						{{ notification.info(notify.getMessage(), notify.getTitle()) }}
					{% endif %}

				{% endfor %}
			{% endif %}
		{% endblock notification %}
		<script>
			{% block script %}
/** Script */

{% block global_js %}
/** JS Global */
{{ include('components/main/main.js') }}
{% endblock global_js %}

{% block page_js %}
/** JS Pagina */
{% endblock page_js %}

{% block override_js %}
/** Sobrescrita de JS */
{% endblock override_js %}{% endblock script %}
		</script>
	{% endblock body %}
</body></html>
